<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>posts_public</h2>
      <ul>
        <% @posts_public.each do |post| %>
          <li>
            <%= post.title %>
            <%= post.content %>
            </li>
        <% end %>
      </ul>
    </div>
     <div class="col-sm-6">
      <h2>posts_draft</h2>
      <ul>
        <% @posts_draft.each do |post| %>
          <li>
            <%= post.title %>
            <%= post.content %>
            </li>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-12 mt-5">
      <%= form_for @post do |f| %>
        <div class="form-group">
          <%= f.text_field :title, placeholder: "Title", class: "form-control bg-light" %>
        </div>
        <div class="form-group">
          <%= f.text_area :content, placeholder: "Content", class: "form-control bg-light" %>
        </div>
        <div class="form-group">
          <div class="form-check form-check-inline">
            Who Can See
          </div>
          <%= f.radio_button :authority, "All"%> All
          <%= f.radio_button :authority, "Friend"%> Friend
          <%= f.radio_button :authority, "Myself"%> Myself<br/>
        </div>
        <div class="form-group">
          <div class="form-check form-check-inline">
            Category
          </div>
          <div class="form-check form-check-inline">
            <select name="" id="">
              <option value="Taipei">種類下拉式選單</option>
　             <option value="Taoyuan">Ruby</option>
　             <option value="Hsinchu">javaScript</option>
            </select>
            <%#= f.collection_check_boxes :category_ids, Category.all, :id, :name%><br/>
          </div>
        </div>
        <div class="form-group">
          <%= f.submit "Save Draft" , class: "btn btn-primary" %>
          <%= f.submit "Submit" , class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>