名稱：<%= @post.title %> <br>
內容：<%= @post.content %> <br>
Tags：<%= @post.tag_list %>
<hr>
<h3>留言</h3>
<%= form_for [@post, @comment] do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>

  <%= f.submit %>
<% end %>

<hr>

<% @post.comments.each do |comment| %>
  
  留言人：<%= comment.member.name %>
  內容：<%= comment.content %> 
  <hr>

<% end %>
