<div class="row">
  <div class="col-md-6">
    
  『<%= @plan.member.name %>』建立 <%= @plan.title %> <br>
  邀請了： <br>
  誰申請加入： 
  <% @plan_member.each do |member| %>
    <%= link_to member.name, member_path(member) %>
  <% end %>
  <br>
  <hr>

  <h4>回覆/報名</h4>
  <% if !@plan.invited_member?(current_member) %>
    <%= link_to '回覆', confirm_plan_path(current_member), method: :post  %>
  <% else %>
  報名
  <% end %>
  <hr> 

  <h3>留言</h3>
  <%= form_for [@plan, @comment] do |f| %>
    <%= f.label :content %>
    <%= f.text_area :content %>

    <%= f.submit %>
  <% end %>

  <hr>


  

  <% @plan.comments.each do |comment| %>
    
    留言人：<%= comment.member.name %>
    內容：<%= comment.content %> 
    <%= link_to 'Delete', plan_comment_path(@plan, comment), method: :delete, data: {confirm: "確定刪除嗎？"} %>
    
    <hr>

  <% end %>
  </div>
  <div class="clo-md-6">
  <ul>
    <% @members.each do |member| %>
      <li>
        <%# if @plan.member && member != current_member %>
          <%= link_to member.name, member_path(member) %>
          <%= link_to '邀請加入計畫', invite_path(member, @plan), method: :post, class: "btn btn-info btn-sm" %>
        <%# end %>  
        <br>
      </li>
    <% end %>
  </ul>
  <hr>
  <% @invite_plans.each do |invite| %>
    <h4>所有在InvitePlan的資料</h4>
    invite_plnas 的id: <%= invite.id %> <br>
    member_id: <%= invite.member_id %> <br>
    plan_id: <%= invite.plan_id %> <br>
    ststus: <%= invite.status %>
    <hr>
  <% end %>

  </div>
</div>
