<div class="row">
  <div class="col-md-6">
    
  『<%= @plan.member.name %>』建立 <%= @plan.title %> <br>
  邀請了：從plan 角度出發 <br>
  誰申請加入： 
  <% @plan_member.each do |member| %>
    <%= link_to member.name, member_path(member) %>
  <% end %>
  <br>
  誰報名了：從plan 角度出發
  <hr>

  <h4>回覆/報名</h4>
    <!-- 如果是owner是審核，如果是user是回復 -->
    <%= link_to '審核回覆', confirm_plan_path(current_member), method: :post  %> |
    <%= link_to '拒絕', cancelled_plan_path(current_member), method: :post  %> <br>    
  <% if !@plan.confirm_plans?(current_member) %>
  <% else %>
  <% end %>
    <%= link_to '報名', join_plan_path(current_member), method: :post %> |
    <%= link_to '取消報名', cancelled_plan_path(current_member), method: :post  %>
  <hr> 

  <h3>留言</h3>
  <%= form_for [@plan, @comment] do |f| %>
    <%= f.label :content %>
    <%= f.text_area :content %>

    <%= f.submit %>
  <% end %>

  <hr>


  

  <% @plan.comments.each do |comment| %>
    
    留言人：<%= comment.member.name %>
    內容：<%= comment.content %> 
    <%= link_to 'Delete', plan_comment_path(@plan, comment), method: :delete, data: {confirm: "確定刪除嗎？"} %>
    
    <hr>

  <% end %>
  </div>
  <div class="clo-md-6">
  <ul>
    <% @members.each do |member| %>
      <li>
        <%# if @plan.member && member != current_member %>
          <%= link_to member.name, member_path(member) %>
          <%= link_to '邀請加入計畫', invite_path(member, @plan), method: :post, class: "btn btn-info btn-sm" %>
        <%# end %>  
        <br>
      </li>
    <% end %>
  </ul>
  <hr>
  <% @invite_plans.each do |invite| %>
    <h4>所有在InvitePlan的資料</h4>
    invite_plnas 的id: <%= invite.id %> <br>
    member_id: <%= invite.member_id %> <br>
    plan_id: <%= invite.plan_id %> <br>
    ststus: <%= invite.status %>
    <hr>
  <% end %>

  </div>
</div>
