<!DOCTYPE html>
<html>
  <head>
    <title>Try</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to '回到 Welcome', root_path %> |
    <%= link_to '回到Members', members_path %> |
    <%= link_to '回到Posts', posts_path %> |
    <%= link_to '回到Plans', plans_path %> |
    <% if member_signed_in? %>
      <%= link_to('登出', destroy_member_session_path, method: :delete) %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
