<div class="member-info">
  <div class="div">
    <p>使用者名稱: <%= @member.name %></p>
    <div class="friendships_table">
      <h6>目前所有 friendships_table 資料有 <%= @friendships.size %> 筆</h6>
        <ul>
        <% @friendships.each do |friend| %>
          <li><p><%= friend.member.name %> 請求加 <%= friend.friend.name %> </p></li>
        <% end %>
        </ul> 
      </h6>
      <hr>
    </div>
    <div class="friends">
      <h6>All_friends： <%= @all_friends.size %></h6>
      <ul>
      <% @all_friends.each do |friend| %>
        <li><%= friend.name %></li>
        <button>解除好友</button>
      <% end %>
    </ul>
      <hr>
    </div>
    <div class="friends">
      <h6>friends 我主動加的好友： <%= @friends.size %></h6>
      <% @friends.each do |friend| %>
        <%= friend.name %>
      <% end %>
      <hr>
    </div>
    <div class="inverse_friends">
      <h6>inverse_friends 別人家我好友： <%= @inverse_friends.size %></h6>
      <% @inverse_friends.each do |friend| %>
        <%= friend.name %>
      <% end %>
      <hr>
    </div>
    <div class="waiting_for_accept">
      <h6>waiting_for_accept 自己送出的邀請(可收回邀請)： <%= @waiting_for_accept.size %></h6>
      <% @waiting_for_accept.each do |friend| %>
        <li>等待 <%= friend.name %> 接受</li>
        <%= link_to '收回好友邀請', unfriend_member_path(friend), method: :post, data: {"disable-with": "wating...."}, class: 'btn btn-danger btn-sm' %>
      <% end %>
      <hr>
    </div>
    <div class="friends_request">
      <h6>friends_request 別人送來的邀請(可接受或拒絕)： <%= @friends_request.size %></h6>
      <% @friends_request.each do |member|%>
        <li> 
          <%= member.name %> 送來的好友請求。
          <%= link_to '接受', accept_friendship_path(member_id: member.id, friend_id: current_member.id), method: :post, data: {"disable-with": "wating...."}, class: 'btn btn-primary btn-sm' %>
          <%= link_to '不接受', ignore_friendship_path(member_id: member.id, friend_id: current_member.id), method: :post, data: { confirm: "不接受邀請嗎？", "disable-with": "wating...."}, class: 'btn btn-primary btn-sm' %>
        </li>  
      <% end %>
      <hr>
    </div>
  </div>
</div>
<%= link_to '回到使用者列表', members_path %> <br>

